aws.s3.access_key_id=xxx
aws.s3.secret_access_key=xxx
aws.s3.bucket=xxx
aws.queue.name=xxx
aws.queue.access_key_id=xxx
aws.queue.secret=xxx
aws.region=xxx

spring.datasource.url=jdbc:postgresql://xxx
spring.datasource.username=xxx
spring.datasource.password=xxx
spring.jpa.generate-ddl=true